
body{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
}
.fa{
    color: red;
}

.play-button{
    padding-top: 4%
}
.song-info{
    padding-left: 5%
}

.song-item-group{

    text-align: left;
}

.artist-name{
    padding-left: .25%;
}
