
body{
    background-color: #FFFFFF;
    margin-left: 10%;
    margin-right: 10%;
}

.headerr{
    display: inline;
}
.fa{
    color: red;
}

.play-button{
    padding-top: 4%
}
.song-info{
    padding-left: 5%
}

.song-item-group{
    text-align: left;
}

.artist-name{
    padding-left: .25%;
}

.active{
    border-color: red;
}
